{%extends "layout.html"%}
{%block body%}

<div class="container">
    <div class="row box">
        <div class="col-md-12" style="display: flex; flex-direction: column; align-items: center;">
            <h3 style="color: #91a68d; margin-bottom: 2rem; margin-top: 3rem;">About</h3>
            <figure>
                <blockquote class="blockquote">
                    <p>“By history students for history students”</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">Citizen Historian Sourcebook</cite>
                </figcaption>
            </figure>
            <p class="text-67">The Citizen Historian Sourcebook is an open access curated primary sourcebook made by
                history
                students for history
                students. Published entries include original text from historical documents, in complete or excerpted
                form,
                from across
                all historical eras, geographical regions, and themes. Editorial notes and further reading
                recommendations
                contextualize
                the documents and connect researchers with current works of scholarship in the field.
            </p>
            <p class="text-67">
                The CHS also publishes special exhibitions of sources within particular thematic frameworks. Entries are
                developed under
                the guidance of instructors in classroom or internship settings, submitted for expert review, and
                published
                only after
                successful navigation of the review process. In this regard, the CHS is intended as a pedagogical tool
                for
                use in two
                directions: (a) to teach history students how to generate high-quality digital history resources, and
                (b) to
                allow
                history students and instructors open access to curated primary source material that is available for
                free.
            </p>

            <p class="text-67 mb-5">The CHS is a digital history initiative by the <i>New England Journal of History</i>
                and
                Dean
                College.</p>

            <h4 style="color: #91a68d; margin-bottom: 1rem; margin-top: 2rem;">Get in touch</h4>
            <p style="margin-bottom: 5rem;">The New England Journal of History<br>
                c/o Dean College<br>
                99 Main St.<br>
                Franklin, Ma 02038<br>
                <a href="mailto:editors@nejh.org">editors@nejh.org</a>
            </p>


        </div>
    </div>
</div>
</div>
</div>
</div>

{%endblock%}