{%extends "layout.html"%}
{%block body%}

<div class="container">
    <div class="row box">
        <div class="col-2"></div>
        <div class="col-4">Logo British Empire</div>
        <div class="col-4">Intro Text</div>
        <div class="col-2"></div>
    </div>

    <div class="row box">
        <div class="col-12 text-center">
            <h2>Primary Source Documents</h2>
            <ul class="list-unstyled">
                <li><a href="#">Source 1</a></li>
                <li><a href="#">Source 2</a></li>
                <li><a href="#">Source 3</a></li>
            </ul>
        </div>
    </div>

    <div class="row box">
        <div class="col-12 text-center">
            <h2>History in your Backyard</h2>
            <ul class="list-unstyled">
                <li><a href="#">Contributor 1</a></li>
                <li><a href="#">Contributor 2</a></li>
                <li><a href="#">Contributor 3</a></li>
            </ul>
        </div>
    </div>

    <div class="row box">
        <div class="col-12 text-center">
            <h2>NEJH Blog</h2>
            <ul class="list-unstyled">
                <li><a href="#">Contributor 1</a></li>
                <li><a href="#">Contributor 2</a></li>
                <li><a href="#">Contributor 3</a></li>
            </ul>
        </div>
    </div>

    <div class="row box">
        <div class="col-12 text-center">
            <h2>The New England Journal of History</h2>
            <ul class="list-unstyled">
                <li><a href="#">Contributor 1</a></li>
                <li><a href="#">Contributor 2</a></li>
                <li><a href="#">Contributor 3</a></li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}