{%extends "layout.html"%}
{%block body%}
<div class="container">
    <div class="row box">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <img src="https://tile.loc.gov/storage-services/service/pnp/cph/3a50000/3a52000/3a52700/3a52783v.jpg"
                alt="Document Image" class="img-fluid mb-5">
            <small class="text-uppercase text-secondary">Civil War</small>
            <div class="fs-1">Federal Reserve</div>
            <p class="mb-5">Creator, Place (Year)</p>
            <div class="fs-4">Introduction</div>
            <p>Edited by student (year)</p>
            <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>


        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

{%endblock%}