{%extends "layout.html"%}
{%block body%}
<div class="container">
    <div class="row box">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <img src="{{doc.imageUrl}}" alt="Document Image" class="img-fluid mb-5 rounded">
            <br>
            <small class="text-uppercase text-secondary">Civil War</small>
            <div class="h1">{{doc.title}}</div>
            <p class="mb-5">{{doc.creator}}, {{doc.place[0]}} ({{doc.year}})</p>
            <div class="h4" style="color: #91a68d;">Introduction</div>
            <p>Edited by {{doc.editedBy}} ({{doc.editedAt}})</p>
            {% for pg in doc.body.intro %}
            <p class="text-start text-67">{{pg}}</p>
            {%endfor%}
        </div>
        <div class="col-lg-2"></div>
        <div class="row box">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 rounded"
                style="max-width: 70ch; display: block; justify-content: center; background-color: #5869741a">
                <div class="h4 text-center mt-3" style="color: #91a68d;">Primary Source</div>
                <hr />
                <div class="h5 text-center mb-4 mt-4">{{doc.creator}}, {{doc.title}}, {{doc.year}}</div>
                {% if doc.body.poem %}
                {% for pg in doc.body.poem %}<div class="text-start text-67 ps-2 mb-4">
                    {% for line in pg.stanza %}
                    {{line}}<br>
                    {%endfor%}
                </div>
                {%endfor%}
                {% else %}
                {% for pg in doc.body.paragraphs %}
                <p class="text-start text-67 ps-2">{{pg}}</p>
                {%endfor%}
                {% endif %}




                <div class="h5 text-center mt-5 text-wrap" style="color: #91a68d;">How to cite</div>
                <hr />
                <p class="text-start text-67">{{doc.citation}}</p>

                <div class="h5 text-center mt-5" style="color: #91a68d;">Further Reading</div>
                <hr />
                {% for pg in doc.readings %}
                <p class="text-start text-67 ps-2">{{pg}}</p>
                {%endfor%}


            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

{%endblock%}