<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/style-main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous" />
        <title>Citizen Historian Sourcebook</title>
    </head>

    <body>
        <div class="lead">Navbar</div>
        {%block body%}
        {% endblock %}



        <div class="container footer">
            <div class="row">
                <div class="col-lg-6">Logo New England History Teachers Association</div>
                <div class="col-lg-6">
                    <img src="static/img/NEHJ-logo.jpeg" alt="NEJH Logo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2">
                    <strong>NEHJ</strong>
                    <ul class="list-unstyled">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Submissions</a></li>
                        <li><a href="#">Issues</a></li>
                        <li><a href="#">Editorial Board</a></li>
                </div>
                <div class="col-lg-2">
                    <strong>MEMBERS</strong>
                    <ul class="list-unstyled">
                        <li><a href="#">Recent Issues</a></li>
                        <li><a href="#">Issue Archive</a></li>
                        <li><a href="#">NETHA Awards</a></li>

                </div>
                <div class="col-lg-2">
                    <strong>CONNECT</strong>
                    <ul class="list-unstyled">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Social Media</a></li>
                        <li><a href="#">Contact</a></li>

                </div>
                <div class="col-lg-2">
                    <strong>CITIZEN HISTORIAN</strong>
                    <ul class="list-unstyled">
                        <li><a href="#">History in your Backyard</a></li>
                        <li><a href="#">Citizen Historian Sourcebook</a></li>

                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="small text-center">Copyright 2025 - The New England Journal of History</div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    </body>

</html>